@model IEnumerable<E_Recarga.Models.Reserva>

@{
    ViewBag.Title = "HistoricoReservas";
}
<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Histórico de Reservas</h1>
    </div>
</section>

<p>
    @Html.ActionLink("Nova Reserva", "PesquisarPostos")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posto.Estacao.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posto.Estacao.Localizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => reserva.ReservaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => reserva.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => reserva.Posto.Estacao.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => reserva.Posto.Estacao.Localizacao)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "DetalhesReserva", new { id = reserva.ReservaId })
                @if (DateTime.Now < reserva.Data)
                {
                    WriteLiteral(" | ");
                    @Html.ActionLink("Cancelar", "CancelarReserva", new { id = reserva.ReservaId })
                }
            </td>
        </tr>
        }
    </tbody>
</table>