@model IEnumerable<E_Recarga.Models.Posto>
@{
    ViewBag.Title = "ListaPostosDisponiveis";
}
<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Postos Disponíveis para Reserva</h1>
        <p class="lead text-muted mb-0">Selecione um dos postos disponíveis para efetuar a sua reserva!</p>
    </div>
</section>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacao.RedeProprietaria.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacao.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacao.Localizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estacao.RedeProprietaria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estacao.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estacao.Localizacao)
                </td>
                <td>
                    @Html.ActionLink("Reservar", "ConcluirReserva", new { id = item.PostoId, data = ViewBag.data, horaInicio = ViewBag.horaInicio, horaFim = ViewBag.horaFim}, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
