@model IEnumerable<E_Recarga.Models.Estacao>

@{
    ViewBag.Title = "DetalhesRedesAdmin";
}

<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Detalhes Rede Proprietária</h1>
        <p class="lead text-muted mb-0">Informação relativa à rede proprietária pertencente à ERecarga.</p>
    </div>
</section>

<div>
    <h4>Rede Proprietária</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            @ViewBag.rede.Nome
        </dd>

        <dt>
            Número de Identificação Fiscal
        </dt>

        <dd>
            @ViewBag.rede.Nif
        </dd>
    </dl>
</div>

<br />
<h4>Estações da Rede @ViewBag.rede.Nome</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstacaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estacao in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => estacao.EstacaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => estacao.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => estacao.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => estacao.Preco)€
            </td>
        </tr>
        }
    </tbody>
</table>