@model E_Recarga.Models.Mensagem
@{
    ViewBag.Title = "DetalhesMensagem";
}

<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Detalhes Mensagem</h1>
        <p class="lead text-muted mb-0">Informação relativa à mensagem recebida.</p>
    </div>
</section>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MensagemId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MensagemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Lista de Mensagens", "ListarMensagens", null, new { @class = "btn btn-primary" })
</p>
