@model IEnumerable<E_Recarga.Models.EstatisticasAdmin>
@{
    ViewBag.Title = "EstatisticasAdmin";
}

<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Estatísticas</h1>
        <p class="lead text-muted mb-0">Lista de redes proprietária ordenadas por ordem decrescente do número de reservas.</p>
    </div>
</section>
@using (Html.BeginForm("EstatisticasAdmin", "AdminManage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>Pesquise na tabela por uma Rede Proprietária:</p>
    <div class="input-group col-md-6">
        <input class="form-control" type="text" placeholder="Pesquisar.." name="pesquisa" value="@ViewBag.pesquisa">
        <span class="input-group-btn">
            <input type="submit" value="Pesquisar" class="btn btn-outline-primary" />
        </span>
    </div>
    <br />
}
@if (Model.Count() <= 0)
{
    <div class="container">
        <h6 class="font-weight-bold">Sem estatísticas.</h6>
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RedeProprietaria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroReservas)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estacao in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => estacao.RedeProprietaria.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => estacao.NumeroReservas)
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <br />
    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var redes = @Html.Raw(Json.Encode(ViewBag.REDES));
        var nReservas = @Html.Raw(Json.Encode(ViewBag.NRESERVAS));
        var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels:redes,
        datasets: [{
            label: 'Número Total de Reservas',
            backgroundColor: 'rgb(0, 123, 254)',
            borderColor: 'rgb(0, 123, 254)',
            barThickness: 'flex',
            data: nReservas
        }]
    },

    // Configuration options go here
    options: {
        scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true  // Barras começarem a zexo
                    }
                }],
                xAxes: [{
                    barPercentage: 0.5  // Largura das barras
                }]
        }}
});
    </script>
}
