@model IEnumerable<E_Recarga.Models.EstatisticasDetalhes>
@{
    ViewBag.Title = "DetalhesEstatisticas";
}


<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Estatística Detalhada</h1>
        <p class="lead text-muted mb-0">Informação relativa a uma estação e o tempo de utilização de cada posto.</p>
    </div>
</section>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.posto.PostoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacao.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacao.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temposUtilizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estacao in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => estacao.posto.PostoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => estacao.Estacao.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => estacao.Estacao.Localizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => estacao.temposUtilizacao) h
                </td>
                <td> </td>
            </tr>
        }
    </tbody>
</table>

<br />
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
        var postos = @Html.Raw(Json.Encode(ViewBag.POSTOS));
        var tempos = @Html.Raw(Json.Encode(ViewBag.TEMPOS));
        var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: postos,
        datasets: [{
            label: 'Número Total de Horas de Utilização',
            backgroundColor: 'rgb(0, 123, 254)',
            borderColor: 'rgb(0, 123, 254)',
            data: tempos
        }]
    },

    // Configuration options go here
    options: {}
});
</script>


