@model IEnumerable<E_Recarga.Models.Estacao>

@{
    ViewBag.Title = "ListarEstacoes";
}

<br />
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Estações de Postos de Carregamento</h1>
    </div>
</section>

<p>
    @Html.ActionLink("Nova Estação", "NovaEstacao")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstacaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estacao in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => estacao.EstacaoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => estacao.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => estacao.Localizacao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarEstacao", new { id = estacao.EstacaoId }) |
                    @Html.ActionLink("Detalhes", "DetalhesEstacao", new { id = estacao.EstacaoId }) |
                    @Html.ActionLink("Remover", "RemoverEstacao", new { id = estacao.EstacaoId })
                </td>
            </tr>
        }
    </tbody>
</table>