<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-Recarga</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                @Html.ActionLink("E-Recarga", "Index", "Home", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav  mr-auto">
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Sobre Nós", "About", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contactos", "Contact", "Home", null, new { @class = "nav-link" })</li>
                        @if (Request.IsAuthenticated && User.IsInRole("Utilizador"))
                        {
                            <li class="nav-item">@Html.ActionLink("Reservar", "PesquisarPostos", "UserManage", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Histórico", "Historico", "Reservations", null, new { @class = "nav-link" })</li>
                        }
                        else if (Request.IsAuthenticated && User.IsInRole("Rede Proprietaria"))
                        {
                            <li class="nav-item">@Html.ActionLink("Estações", "ListarEstacoes", "RedeProprietariaManage", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Postos", "ListarPostos", "RedeProprietariaManage", null, new { @class = "nav-link" })</li>
                        }
                        else if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">@Html.ActionLink("Postos Pendentes", "ListarPostosPendentes", "AdminManage", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - E-Recarga</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
